

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-color: #16181a;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-weight: 600;
  font-size: 16px;
}

a{
  text-decoration: none;
}
.tittle{
    opacity: 0.7;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20%;
    font-size: 90px;
}

header{
  width: 100%;
  height: 65vh;
  background: url("./img/img/car-back.png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.logo{
  cursor: pointer;

}

.nav-area{
  list-style: none;
  margin-top: -70%;
}

.nav-area li{
  display: inline-block;
  padding:  15px;
  text-transform: uppercase;
}

.nav-area li a{
  transition: .3s;
  color: #fff;

  
}

.nav-area li a:hover{
  color: #d22938;
}

.btn-area{
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 5px;
  background: #000;
}



/*Our Blog*/

.img-car1{
  height: 600px;
  width: 400px;
}

.global-headline{
  text-align: center;
  margin-top: 7.9rem;
}

.discover-our-story .global-headline{
  margin-top: 6.9rem;
}

.global-headline.asterisk{
  color: #fff;
  margin: 2.4rem 0 ;
  
}

.texto{
  color: #fff;
  font-weight: 100;
}

.headline-dark{
  color: #fff;
  letter-spacing: .7rem;
  margin-right: -7.rem;
  padding: 2%;
}

.global-headline .sub-headline{
  letter-spacing: -1px;
  line-height: .42;
}

.blog-info{
  text-align: center;
  margin: 110px;
}

.blog-description{
  margin-bottom: 3rem;
}

.blog-description p{
  line-height: 1.6rem;
  margin-bottom: 2.4rem;
}



/*Our Blog 2*/


@media screen and (min-width: 900px){
  selection{
      padding: 7.9rem;
  }

  .blog-info{
    display: flex;
    align-items: center;

  }
  .blog-info > div{
      flex: 1;
  }

  .padding-right{
      padding-right: 7rem;
  }


}